#BlackPython files
BlackPython/build/*
BlackPython/blackPython.iml

#FacebookSDK files
facebookSDK/build/*
facebookSDK/facebookSDK.iml

#root files
BuyMe.iml
build/*
.idea/*
local.properties

#gradle settings
.gradle/*